{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% block content %}
<h1>{{ object.name }}</h1>
<p><strong>{% trans "Company" %}:</strong> {{ object.company }}</p>
<p><strong>{% trans "Year" %}:</strong> {{ object.release_year }}</p>
{% for photo in object.photos.all %}
    {% thumbnail photo.image "400x300" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ photo.caption }}" class="img-fluid mb-2" />
    {% endthumbnail %}
{% empty %}
    <p>{% trans "No photos." %}</p>
{% endfor %}
<p>{{ object.description }}</p>
{% endblock %}
