{% extends 'catalog/base_list.html' %}
{% load i18n %}
{% block title %}{% trans "Board Games" %}{% endblock %}
{% block header %}{% trans "Board Games" %}{% endblock %}
{% block table_head %}<th>{% trans "Name" %}</th><th>{% trans "Company" %}</th><th>{% trans "Year" %}</th>{% endblock %}
{% block table_body %}
{% for obj in page_obj %}
<tr>
  <td><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
  <td>{{ obj.company }}</td>
  <td>{{ obj.release_year }}</td>
</tr>
{% endfor %}
{% endblock %}
