{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<h1>{% trans "Welcome to the Museum" %}</h1>
<ul>
    <li><a href="{% url 'catalog:console_list' %}">{% trans "Consoles" %}</a></li>
    <li><a href="{% url 'catalog:computer_list' %}">{% trans "Computers" %}</a></li>
    <li><a href="{% url 'catalog:videogame_list' %}">{% trans "Video Games" %}</a></li>
    <li><a href="{% url 'catalog:boardgame_list' %}">{% trans "Board Games" %}</a></li>
</ul>
{% endblock %}
