{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% block content %}
<h1>{% trans "Timeline" %}</h1>
<nav class="nav nav-pills mb-3">
  <a class="nav-link {% if timeline_type == 'consoles' %}active{% endif %}" href="{% url 'catalog:console_timeline' %}">{% trans "Consoles" %}</a>
  <a class="nav-link {% if timeline_type == 'computers' %}active{% endif %}" href="{% url 'catalog:computer_timeline' %}">{% trans "Computers" %}</a>
  <a class="nav-link {% if timeline_type == 'videogames' %}active{% endif %}" href="{% url 'catalog:videogame_timeline' %}">{% trans "Video Games" %}</a>
</nav>
<ul class="list-group">
  {% for obj in object_list %}
  <li class="list-group-item">
    {% with photo=obj.photos.first %}
        {% if photo %}{% thumbnail photo.image "150x100" crop="center" as im %}<img src="{{ im.url }}" class="me-2" alt="{{ photo.caption }}" />{% endthumbnail %}{% endif %}
    {% endwith %}
    <a href="{{ obj.get_absolute_url }}">{{ obj.name }} ({{ obj.release_year }})</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
